<div class="container">
  <div class="form-group">
    <div class="d-flex justify-content-center">
      <form method="POST" action="/filter">
        <select class="form-control" name="category">
          <option value="0">類別</option>
          {{#each categories}}
          <option value="{{this._id}}">{{this.categoryName}}</option>
          {{/each}}
        </select>
      </form>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <h5>總金額
      <h1 class="text-success">{{totalAmount}}888<h1>
    </h5>
  </div>


  <ul class="list-group">
    {{#each record}}
    <li class="list-group-item">
      <div class="row ">
        <div class="col-4 mr-auto">
          <h4 style="display: inline; ">{{this.name}}</h4>
          <small class="date">{{this.date}}</small>
        </div>

        <div class="col-6 mr-auto">
          <h4 style="display: inline; ">{{this.amount}}</h4>
        </div>

        <div class="col-auto mr-auto">
          <a class="btn btn-success" href="./record/{{ this._id }}/edit">修改</a>
          <form action="/record/{{this._id}}/delete" method="POST" style="display: inline;"
            onsubmit="return confirm('確定是否刪除')">
            <button class="btn btn-danger" type="submit">刪除</button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>